body {
  background-color: tan;
}

#formElements {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label {
  text-align: center;
}

/* #submit{
    margin: auto;
    display: block;
} */

#submit-container {
  display: flex;
  justify-content: center;
}
button {
  margin: 10px 0;
}
