body {
  background-color: tan;
}

#formElements {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label {
  text-align: center;
}

/* #submit{
    margin: auto;
    display: block;
} */

#submit-container {
  display: flex;
  justify-content: center;
}
button {
  margin: 10px 0;
}

@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #lists {
    display: flex;
    justify-content: space-around;
  }
  #formElements {
    /* grid-template-columns: repeat(6,1fr); */
    display: flex;
    justify-content: space-around;
  }
}
